* {
    font-family: ;
}

.header {
    height: 300px;
    display: flex;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-2 {
    display: flex;
}

.header,
.footer {
    background-color: #1F2937;
    color: white;    
}
