* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.header {
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 250px 180px 250px;
    gap: 80px;
}

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.links,
.subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 18px;
}

.header-2 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.subtitle {
    margin-top: 0;
}

button.hero-button {
    width: 150px;
    padding:10px 20px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.header-image {
    padding: 100px 150px 100px 150px ;
    background-color: grey;
    color: white;
}

h1.title {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}

.header,
.footer {
    background-color: #1F2937;
    color: white;    
}
