* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.header {
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 250px 180px 250px;
    gap: 80px;
}

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.links,
.subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 18px;
}

.header-2 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.subtitle {
    margin-top: 0;
}

button.hero-button {
    width: 150px;
    padding:10px 20px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.header-image {
    padding: 100px 150px 100px 150px ;
    background-color: grey;
    color: white;
}

h1.title {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}

.header,
.footer {
    background-color: #1F2937;
    color: white;    
}

.section-1 {
    display: flex;
    flex-direction: column;
    padding: 0 250px 180px 250px;
    gap: 20px;
}

.title-1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxtext-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;  
}

.boxtext-1a,
.boxtext-1b,
.boxtext-1c,
.boxtext-1d {
    width: 180px;
}

.empty-box {
    width: 130px;
    height: 150px;
    padding:10px 20px;
    border: 4px solid #3882f6;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

p.subtext{
    text-align: center;
    margin: 10px 0 0 0; 
}

.section-2 {
    height: 280px;
    padding: 100px 300px 100px 300px;
    display: flex;
    background-color: #E5E7EB;
}

blockquote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.blockquote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color : #1F2937;
    text-align: left;
    margin-bottom: 0;
}

.blockquote-credit {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
}

.section-3 {
    height: 200px;
    padding: 100px 200px 100px 200px;
    background-color: white;
}

.container-3 {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.title-3 {
    margin-bottom: 0;
    font-size: 24px;
}

p.subtext-3 {
    margin-top: 0;
    font-size: 18px;
}

button.sign-3 {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.container-3,
.sign-3 {
    background-color: #3882f6;
}

.text-3,
.sign-3 {
    color: white;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
